
.gameContainer{
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}

.gameContainer > h1{
  font-size: 36px;
  flex-basis: 100%;
  padding: 20px;

}

.gameContainer > p{
  flex-basis: 50%;
  font-size: 28px;
  padding: 10px;
}

.gameContainer > img{
  flex-basis: 50%;
  width: 40%;
  height: auto;
  border: 4px solid #000000;
}

.gameContainer:nth-of-type(2)
{
  flex-direction: row-reverse;
  border: 1px solid #232323;
  background: #151515;
  text-align: left;
}

@media only screen and (max-width:1000px)
{

  .gameContainer
  {
    width: 90%;
    flex-direction: column;
  }

  .gameContainer > h1
  {
    font-size: 72px;
    text-align: center;
  }

  .gameContainer > p
  {
    font-size: 56px;
    text-align: center;
    margin: 40px 0px 40px 0px;
  }

  .gameContainer > img
  {
    width: 100%;
    height: auto;;
  }

  .gameContainer:nth-of-type(2)
  {
    flex-direction: column;
  }
}
