* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #161616;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

.container{
  margin-top: 68px;
}
