* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #111111;
}

a {
  color: white;
  text-decoration: none;
}
