/*forms container*/
.container > div > div {
  display: block;
  width: 40%;
  margin: auto;
  background: #0C0C0C;
  border: 2px solid black;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 50px;
  text-align: center;
}

/*Forms container <h3>*/
.container > div > div > h3 {
  font-size: 42px;
}

/*Forms*/
.container > div > div > form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

/*Inputs*/
.container > div > div > form input {
  height: 36px;
  font-size: 26px;
  margin: 10px;
  text-align: center;
  color: black;
  border-radius: 10px;
  border: none;
}

/*Submit*/
.container > div > div > form input[type=submit] {
  background: #0094FF;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: auto;
  margin: auto;
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
}

/*Text*/
.container > div > div > span {
  display: block;
  margin: 10px;
  font-size: 15px;
}

.container > div > div > span > a {
  text-decoration: underline;
  color: #0094FF;
}

/*Errors*/
.container .err {
  font-size: 15px;
  color: red;
}

.container .SupC{
  display: none;
}

@media only screen and (max-width: 1000px) {
  /*Forms Container*/
  .container > div > div {
    width: 80%;
  }

  /*Forms container <h3>*/
  .container > div > div > h3 {
    font-size: 84px;
  }

  /*Forms Inputs*/
  .container > div > div > form input {
    height: 72px;
    font-size: 52px;
    margin: 20px;
  }

  .container > div > div > span {
    display: block;
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
  }
  .container > div > div > span > a {
    text-decoration: underline;
    color: #0094FF;
  }
  .container .err {
    font-size: 30px;
    font-weight: bolder;
    color: red;
  }
}
